// User variables:
$accent: #fff;
$text: #000;
// $clr-accent: ;
// $clr-text: ;
// $clr-primary: ;

// Default variables: node_modules/bootstrap/scss/_variables.scss

// Change Bootstrap gutter => $gutter :
// $grid-gutter-width: 20px;
// $gutter: $grid-gutter-width;

// Change Bootstrap breakpoints :
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);

// $container-max-widths: (sm: 540px, md: 720px, lg: 800px, xl: 1140px);
